*{
    box-sizing: border-box;
}
body{
    margin: auto;
    background-image: url("https://images.pexels.com/photos/2079438/pexels-photo-2079438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-color:aliceblue;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
img{
    display: block;
    object-fit: cover;
    border-radius: 10%;
    max-width: 100%;
    object-fit: contain;
    height: 300px;
    margin: auto;
}
    
    


p b{
    font-family: "Roboto Slab", "consolas", "sans-serif";
    font-size: 4vw; 
    color: chocolate;
}

p{
    font-family: "Roboto Slab", "consolas", "sans-serif";
    font-size: 3vw;
    color: aliceblue
}
ul{
    list-style-type: none;
    overflow: hidden; 
    margin: auto;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
header{
  text-align: center;
  background-color: aliceblue;
  font-family: "Allura", "consolas", "sans-serif";
  font-size: 8vw;
}
h1{
    color: black;
    font-family: "Allura", "consolas", "sans-serif";
    font-size: 4vw;
    text-align: center;
}

h2{
    color: black;
    font-family: "Allura", "consolas", "sans-serif";
    font-size: 4vw;
    text-align: center;
}
h3{
    color: black;
    font-family: "Roboto Slab", "consolas", "sans-serif";
    font-size: 3vw;
    text-align: center;
}

nav{
    background-color: rgb(192, 192, 192, 0.7);
    text-align: center;
    font-family: "Allura";
    font-size: 200%; 
    padding: 1%;
    top: 0px;
    position: sticky;
}
a{
    text-decoration: none;
}
section{
    padding: 3%;
}
a:hover{
    color: black;
}
section .column{
    float: left;
    width: 50%;
    text-align: center;


}
section .row:after{
    content: "";
    display: table;
    clear: both;
}
table{
    border: 1px solid white;
    width: 100%;
}
video{
    width: 100%;
}