body {
    text-align: center;
    background-color: skyblue;
    margin: auto;
   }
   h1{
   font-family: "Press Start 2P", "consolas", "sans-serif";
   }
   p{
    font-family: "Montserrat", "consolas", "sans-serif";
    font-weight: bolder;
   }
    
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  a:link {
    color: black;
  }
  
 
  a:visited {
    color: green;
  }
  
  
  a:hover {
    opacity: 0.5;
  }
  

  a:active {
    color: gray;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
    background-color: whitesmoke;
    position : sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0%;
  }
  
  li a:hover {
    background-color: #111;
  }
  div {
    background-color: orange;
    border: 10px solid green;
    padding: 10px;
    width: fit-content;
    margin: auto;
  }
